In [5]:
import pandas as pd
pd.read_csv('data/test.csv')

,test_id,question1,question2
0,0,"और जैसा आप देख रहे है, ये एल.ई.डी. जल उठेगी।","और आप देख सकते हैं, यह एलईडी चमकने वाली है।"
1,1,मैं आज आपको सफल निर्णय लेने का रहस्य बताने वाल...,मैं यहाँ आपको सफल निर्णय लेने का रहस्य बताने व...
2,2,संसार की अधिकाश ऊँची पर्वत चोटियाँ हिमालय में ...,दुनिया की सबसे ऊंची पर्वत चोटियाँ हिमालय पर स्...
3,3,पंखा चल दो,पंखे को चला दीजिये